
   
    .tab {
        color: $font_color;
        padding: 1em;
        text-decoration: none;
        float: left;
        margin-bottom: 2em;
        border: 1px solid darken($background_color, 10%);
        border-radius: 5px;
        width: 47%;
        box-sizing: border-box;
        margin-top: 2em;
        display: block;
        margin-left: 2%;
        text-align: center;
        &.active {
            background-color: $button_color_alt;
            color: #fff;
        }
    } //closing tab
    .tab:hover {
        background-color: $button_alt_hover;
        color: #fff;
    }//closing tab hover
    .tab-content {
        overflow: hidden;
        line-height: 1.6;
        padding: 1em;
        display: none;
        clear: both;
        box-sizing: border-box;
        background-color: $background_white;
    } //closing tab content
        //-------------------------filter options---------------------//
        .search_option_1 {
            text-align: center;
            box-sizing: border-box;
            width: 100%;
            max-width: 472px;
        
            margin: 0 auto;
            clear: both;
            overflow: hidden;
            
            .event_type {
                box-sizing: border-box;
                width:70%;
                margin: 0 auto;
                overflow: hidden;
                padding-bottom:1em;
                p {
                    text-align:left;
                    font-weight: bold;
                    color: $font_color;
                    font-size: $filter_font;
                    float:left;
                    width: 30%;
                }
                .input_img{
                     width: 20%;
                     float:right;
                    input{
                        box-shadow: 1px 1px 1px rgba(0,0,0,.15);
                        display: inline-block;
                    }
                    img{
                        width: 100%;
                        display: inline-block;

                    }
                }
            } //closing event_type
            .number_people {
                box-sizing: border-box;
                width:70%;
                margin: 0 auto;
                overflow: hidden;
                content-align:center;
                padding-bottom:1em;
                      p{
                   text-align:left;
                    font-weight: bold;
                    color: $font_color;
                    font-size: $filter_font;
                    float:left;
                    width: 70%;
                  }
                  select{
                    float: right;
                    width: 30%;

                  }
                }//closing number people
                .event_distance {
                box-sizing: border-box;
                width:70%;
                margin: 0 auto;
                overflow: hidden;
                content-align:center;
                padding-bottom:1em;
                    p {
                        text-align:left;
                        font-weight: bold;
                        color: $font_color;
                        font-size: $filter_font;
                        float:left;
                        width: 30%;
                    }
                    .distance{
                        width: 70%;
                        float: right;
                    }
                    
                } //closing event distance
            } // closing search option 1
            .search_option_2 {
                text-align: center;
                box-sizing: border-box;
                width: 100%;
                max-width: 472px;
              
                margin: 0 auto;
                clear: both;
                overflow: hidden;
                .event_date {
                    box-sizing: border-box;
                    width:70%;
                    margin: 0 auto;
                    overflow: hidden;
                    content-align:center;
                    padding-bottom:1em;
                        p{
                       text-align:left;
                        font-weight: bold;
                        color: $font_color;
                        font-size: $filter_font;
                        float:left;
                        width: 30%;
                        
                      }
                        select{
                       
                        float:right;
                        width: 70%;

                         }
                    } //closing event date
                .search_btn {
                    width: 70%;
                    display: inline-block;
                    color: $font_color;
                    font-family: $body_font;
                    font-size: $subheader_size;
                    background-color: $button_color_alt;
                    margin: 0 auto;
                    text-align: center;
                    padding: 0.5em;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
                    overflow: hidden;
                  
                    a {
                        text-decoration: none;
                        color: $background_color;
                    }
                }//closing search_btn
                .search_btn:hover {
                    background-color: $button_alt_hover;
                }
            } //closing search option 2
            //---------------------------------------rec events on events page
            .recomended_events {
                clear: both;
                box-sizing: border-box;
                overflow: hidden;
                padding: .5em;
                color: $font_color;
                .rec_img {
                    float: left;
                    width: 30%;
                    img {
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
                    }
                }//closing recimg
                .rec_cont {
                    padding-left: 1em;
                    float:left;
                    width: 70%;
                    box-sizing: border-box;
                    h2 {
                        margin-left: 2em;
                        font-size: $subheader_size;
                        font-family: $body_font;
                        margin-bottom: 0em;
                    }
                    p {
                        font-family: $body_font;
                        font-size: $body_size;
                    }
                    p:first-of-type {
                        font-weight: bold;
                    }
                    a {
                        font-family: $body_font;
                        font-size: $body_size;
                        color: $button_color;
                    }
                } //closing rec_cont
            } //closing recomended_events//
            .create_events {
                margin-top: 2em;
                box-sizing: border-box;
                overflow: hidden;
                padding: .5em;
                color: $font_color;
                .rec_img {
                    float: left;
                    width: 30%;
                    img {
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
                    }//closing img
                } //closing rec_img
                .rec_cont {
                    padding-left: 1em;
                    float: left;
                    width: 70%;
                    box-sizing: border-box;
                    h2 {
                        font-size: $bodysubheader_size;
                        font-family: $body_font;
                    }
                    p {
                        font-family: $body_font;
                        font-size: $subheader_size;
                        line-height: 1.5em;
                        margin-bottom: 2em;
                    }
                    p:first-of-type {
                        font-weight: bold;
                    }
                    .create_btn {
                        width: 100%;
                        display: inline-block;
                        color: $font_color;
                        font-family: $body_font;
                        font-size: $subheader_size;
                        background-color: $button_color_alt;
                        margin: 0 auto;
                        text-align: center;
                        padding: 0.5em;
                        border-radius: 5px;
                        overflow: hidden;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);

                        a {
                            text-decoration: none;
                            color: $background_color;
                        }
                    } //closing create_btn
                    .create_btn:hover {
                        background-color: $button_alt_hover;
                    }//closing create_btn:hover
                } //closing rec_cont
            } //closing create_events//
            .active{
                display: block;
                background-color: $background_white;
                color: $font_color;
            }//closing active
      
        .upcoming_wrapper {
            background-color: $background-color;
            overflow: hidden;
            h2 {
                font-family: $body_font;
                margin: 2%;
            }
            .upcoming_events {
                margin: 2%;
                clear: both;
                .upcoming_img {
                    width: 25%;
                    float: left;
                    img {
                        width: 100%;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
                    }
                }
                .upcoming_cont {
                    padding-left: 0.5em;
                    float: left;
                    p {
                        font-family: $body_font;
                    }
                    p:first-of-type {
                        font-weight: bold;
                        line-height: 1.5em;
                    }
                    a {
                        margin-top: 0.5em;
                        font-family: $body_font;
                        font-size: $body_font;
                        color: $button_color;
                    }
                } //closing upcoming cont
            } //closing upcoming_events
        } //upcoming_wrapper




  
@media(min-width:750px) {
    .tab {
        width: 20%;
    } //closing tab
    .search_option_1 {
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        .event_type {
            margin: 0;
            text-align: left;
            width: 33.33%;
            overflow: hidden;
            margin-right: 0;
            float: left;
            box-sizing: border-box;
            p {
                box-sizing: border-box;
                float: left;
                width: 40%;
            }
            .input_img {
                box-sizing: border-box;
                width: 20%;
                float: left;
                text-align: center;
            }
        } //closing event_type
        .number_people {
            margin: 0;
            text-align: left;
            width: 33.33%;
            overflow: hidden;
            margin-right: 0;
            float: left;
            box-sizing: border-box;
            p {
                box-sizing: border-box;
                float: left;
                width: 50%;
            }
            select {
                float: left;
                width: 15%;
            }
        } //closing number people
        .event_distance {
            box-sizing: border-box;
            width: 33.33%;
            margin: 0 auto;
            overflow: hidden;
            padding-bottom: 1em;
            box-sizing: border-box;
            float: left;
            p {
                text-align: left;
                font-weight: bold;
                color: $font_color;
                font-size: $filter_font;
                float: left;
                width: 60%;
            }
            .distance {
                width: 30%;
                float: left;
            }
        } //closing event distance
    } // closing search option 1

    .search_option_2 {
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        clear: both;
        overflow: hidden;
        .event_date {
           box-sizing: border-box;
            width: 33.33%;
            margin: 0 auto;
            overflow: hidden;
            padding-bottom: 1em;
            box-sizing: border-box;
            float: left;
            p {
                text-align: left;
                font-weight: bold;
                color: $font_color;
                font-size: $filter_font;
                
                width: 40%;
            }
            select {
                width: 60%;
                
            }
        } //closing event date
        .search_btn {
            box-sizing:border-box;
            float: left;
            width: 30.33%;
            display: inline-block;
            color: $font_color;
            font-family: $body_font;
            font-size: $subheader_size;
            background-color: $button_color_alt;
            margin: 0 auto;
            text-align: center;
            padding: 0.5em;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
            overflow: hidden;
      
            a {
                text-decoration: none;
                color: $background_color;
            }
        } //closing search_btn
        .search_btn:hover {
            background-color: $button_alt_hover;
        }
    } //closing search option 2
} //closing media











