//HOME PAGE STYLING//




	
	


	.home_wrapper{
	background: url("../images/homebackgroundsmall.png");
	background-size: 100% 100%;
	background:contain;
	overflow:hidden;
	font-family: $body_font;
	padding: 6em;
	

		

		h1{
			font-family: $body_font;
			font-size: $header-size;
			margin: 0 auto;
			text-align: center;
			color: $background_color;
			border: 3px solid $button_color_alt;
			padding:1em;
			text-align:center;
			margin-bottom: 2em;
			text-shadow: 2px 2px 2px rgba(0,0,0,.25);
			
			
		}

		.about_site{
				width:90%;
				margin:0 auto;

			h2{
				font-family: $body_font;
				font-size: $subheader_size;
				text-align: center;
				color: $background_color;
			}

			p{
				font-size: $subheader_size;
				font-family: $body_font;
				line-height: 1.5em;
				padding-bottom:3em;
				margin: 2%;
				color: $background_color;

			}


		}//closing about_site

		

			

			.home_btns{
				list-style: none;
				box-sizing:border-box;
				padding:0;
				
				

				li{
				width: 100%;
				display: inline-block;
				overflow: hidden;
				text-align: center;
				box-sizing:border-box;
				background-color:$button_color_alt;
				border-radius: 5px;
				margin:0 auto;
				padding:0.75em;
				margin-bottom:1.5em;
				box-shadow: 2px 2px 2px rgba(0,0,0,.15);

				
				

				a{
					
					color:$background_color;
					text-decoration: none;
					display: inline;
					
				
				}
				}
			}

			li:hover{
				background-color:$button_alt_hover;
			}
	


	

	}//closing home_wrapper

	.home_sub{

		overflow: hidden;
		background-color: $background_white;
		padding-bottom:3em;
		font-family: $body_font;

		.about_site{
			color:$font_color;
			margin:2%;
			h2{
				font-size: $bodysubheader_size;
			}
			p{
				line-height: 1.75em;
			}
			.logo{
				display: none;
			}
		}



	}//closing home_sub


@media(min-width:630px){
	//-------------------------------------------home breakpoint 1-----//


		
		
	
			.home_wrapper{
	background: url("../images/homebackgroundmed.png");
	background-size: cover;
	overflow:hidden;


		

		h1{
			font-family: $body_font;
			font-size: 60px;
			margin: 0 auto;
			text-align: center;
			color: $background_color;
			border: 8px solid $button_color_alt;
			padding:1em;
			text-align:center;
			margin-bottom: 2em;
			max-width: 700px;
			}

		

		
			
			

			

			.home_btns{
			max-width: 600px;
			margin:0 auto;
				

				li{
				width: 45%;
				
				overflow: hidden;
				text-align: center;
				box-sizing:border-box;
				background-color:$button_color_alt;
				border-radius: 5px;
				padding:1em;
				box-shadow: 2px 2px 2px rgba(0,0,0,.15);
				


				
				

				a{
					
					color:$background_color;
					text-decoration: none;
					display: inline;
					font-size: $filter_font;

					
				
				}
				}
				li:first-of-type{
					float:left;
				}
				li:nth-of-type(2){
					float:right;
				}

			}

			li:hover{
				background-color:$button_alt_hover;
			}
	

		


	

	}//closing home_wrapper

	.home_sub{
		clear: both;
		overflow: hidden;
		.about_site{
				margin:0 auto;
				
				max-width: 1000px;

			h2{
				font-family: $body_font;
				font-size: $bodysubheader_size;
				text-align: center;
				color: $font_color;
			}
			.logo:first-of-type{
				display: inline-block;
				width: 25%;
				float: left;
				margin:0 auto;
				vertical-align: middle;
				img{
					width: 80%;

				}
			}
			.logo:nth-of-type(2){
				display: inline-block;
				width: 25%;
				float: left;
				margin:0 auto;
				vertical-align: middle;
				img{
					width: 80%;

				}
			}

			p{
				font-size: $subheader_size;
				font-family: $body_font;
				line-height: 1.5em;
				box-sizing:border-box;
				margin: 2%;
				color: $font_color;
				float: left;
				width: 45%;
				vertical-align: middle;

			}

			


		}//closing about_site



	}//closing home_sub

}//closing media tag

