/***-------------------------------------------------------- Site header*/

.site_header {
    background-color: $main_theme;
    overflow: hidden;
    .header_wrapper {
        padding: 1em;
        .site-title {
            font-family: $header_font;
            font-size: 28px;
            color: $background_color;
            text-decoration: none;
            display: inline-block;
            font-weight: 800;
        }
        .site-nav {
            float: right;
            padding-top: 0.5em;
            overflow: hidden;
            width: 25%;
            .nav_menu {
                float: right;
                .nav_profile {
                    margin-right: 2em;
                    display: none;
                    vertical-align: middle;
                    a {
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        color: $background_color;
                        img {
                            height: 1.5em;
                            width: 1.5em;
                            display: inline-block;
                        }
                        p {
                            display: inline-block;
                            vertical-align: middle;
                            font-family: $body_font;
                            color: $background-color;
                        }
                    }
                    .active {
                        display: block;
                        background-color: $background_color_alt;
                    }
                    
                } //end of nav_pprofiletag
                .toggle {
                    
                    display: inline-block;
                    vertical-align: middle;
                    .fa {
                        color: $background_color;
                    }
                    .fa:hover {
                        cursor: pointer;
                    }
                }
                
            } //end of nav_menu tag
        } //end of site-nav tag
    } //end of header_wrapper tag
} //end of site_header tag//
ul.content {
    display: none;
    list-style: none;
    overflow: hidden;
    margin-bottom:0;
    margin-top:0;
    text-align: center;
    background-color:$background_color_alt; 
    li {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0 auto;
        border-bottom:1px solid $font_color;

        a {
            text-decoration: none;
            font-family: $body_font;
            font-size: $bodysubheader_size;
            color: $font_color;
            font-weight: bold;
            padding: 1em;
            line-height: 2em;
            border-width:90%;
        }
    }
    li:last-child{
            border-bottom:none;
        }
   
}

.site-footer {
    clear: both;
    background-color: $main_theme;
    height: 3em;
    
}

body {
    background-color: $background_color;
}

@media(min-width:615px) {
    .site_header {
        .header_wrapper {
            .site-title {
                font-family: $header_font;
                font-size: 28px;
                color: $background_color;
                text-decoration: none;
                display: inline-block;
                font-weight: 800;
            }
            .site-nav {
                float: right;
                padding-top: 0.5em;
                overflow: hidden;
                width: 25%;
                .nav_menu {
                    float: right;
                    .nav_profile {
                        margin-right: 2em;
                        display: inline-block;
                        vertical-align: middle;
                        a {
                            text-decoration: none;
                            display: inline-block;
                            vertical-align: middle;
                            color: $background_color;
                            img {
                                height: 1.5em;
                                width: 1.5em;
                                display: inline-block;
                            }
                            p {
                                display: inline-block;
                                vertical-align: middle;
                                font-family: $body_font;
                                color: $background-color;
                            }
                        }
                       
        
                        .active {
                           
                        }
                    } //end of nav_pprofiletag
                    .toggle {
                        font-family: sans-serif;
                        color: white;
                        display: inline-block;
                        vertical-align: middle;
                        .fa {
                            color: $background_color;
                        }
                        .fa:hover {
                            cursor: pointer;
                        }
                        
                    }
                    
                } //end of nav_menu tag
            } //end of site-nav tag
        } //end of header_wrapper tag
    } //end of site_header tag//
    ul.content {
    display: none;
    list-style: none;
    overflow: hidden;
    margin-bottom:0;
    margin-top:0;
    text-align: center;
    background-color:$background_color_alt; 

    li {
        display: inline;
        width: 33.33%;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0 auto;
        border-bottom:none;

        a {
            text-decoration: none;
            font-family: $body_font;
            font-size: $bodysubheader_size;
            color: $font_color;
            font-weight: bold;
            overflow: hidden;
            
           
           
        }
    }
    
   
}
}














