/***-------------------------------------------------------- Site header*/

.site_header {
    background-color: $main_theme;
    overflow: hidden;
    .header_wrapper {
        padding: 1em;
        .site-title {
            font-family: $header_font;
            font-size: 28px;
            color: $background_color;
            text-decoration: none;
            display: inline-block;
            font-weight: 800;
        }
        .site-nav {
            float: right;
            padding-top: 0.5em;
            overflow: hidden;
            width: 25%;
            .nav_menu {
                float: right;
                .nav_profile {
                    margin-right: 2em;
                    display: none;
                    vertical-align: middle;
                    a {
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        color: $background_color;
                        img {
                            height: 1.5em;
                            width: 1.5em;
                            display: inline-block;
                        }
                        p {
                            display: inline-block;
                            vertical-align: middle;
                            font-family: $body_font;
                            color: $background-color;
                        }
                    }
                    .active {
                        display: block;
                        background-color: #FFFFFF;
                    }
                    
                    .active {
                        display: block;
                        background-color: teal;
                    }
                } //end of nav_pprofiletag
                .toggle {
                    font-family: sans-serif;
                    color: white;
                    display: inline-block;
                    vertical-align: middle;
                     .fa{
                            color:$background_color;
                        }
                        .fa:hover{
                            cursor: pointer;
                        }
                }
                ul {
                    list-style: none;
                    border: 1px solid black;
                    width: 20%;
                }
            } //end of nav_menu tag
        } //end of site-nav tag
    } //end of header_wrapper tag
} //end of site_header tag//
ul.content {
    display: none;
    list-style: none;
    border-bottom:1px solid $font_color;
    overflow: hidden;
    li{
        float: left;
        width: 33.33%;
        box-sizing:border-box;
        overflow: hidden;
        margin:0 auto;
        a{
            text-decoration: none;
            font-family: $body_font;
            font-size: $bodysubheader_size;
            color: $font_color;
            font-weight:bold;
            padding:1em;
            overflow: hidden;
            box-sizing:border-box;
        }
    }
    padding-bottom:2em;
}

.site-footer {
    clear: both;
    background-color: $main_theme;
    height: 3em;
    margin-top: 2em;
}

body {
    background-color: $background_color;
}

@media(min-width:615px) {
 .site_header {
    .header_wrapper { 
        .site-title {
            font-family: $header_font;
            font-size: 28px;
            color: $background_color;
            text-decoration: none;
            display: inline-block;
            font-weight: 800;
        }
        .site-nav {
            float: right;
            padding-top: 0.5em;
            overflow: hidden;
            width: 25%;
            .nav_menu {
                float: right;
                .nav_profile {
                    margin-right: 2em;
                    display: inline-block;
                    vertical-align: middle;
                    a {
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        color: $background_color;
                        img {
                            height: 1.5em;
                            width: 1.5em;
                            display: inline-block;
                        }
                        p {
                            display: inline-block;
                            vertical-align: middle;
                            font-family: $body_font;
                            color: $background-color;
                        }
                    }
                    .active {
                        display: block;
                        background-color: #FFFFFF;
                    }
                    .menu-content {
                        display: none;
                        list-style: none;
                        li {
                            display: inline-block;
                            a {
                                color: $font_color;
                                font-family: $body_font;
                            }
                        }
                    }
                    .active {
                        display: block;
                        background-color: teal;
                    }
                } //end of nav_pprofiletag
                .toggle {
                    font-family: sans-serif;
                    color: white;
                    display: inline-block;
                    vertical-align: middle;
                     .fa{
                            color:$background_color;
                        }
                        .fa:hover{
                            cursor: pointer;
                        }

                    a {
                        font-family: $body_font;
                        font-size: 16px;
                    }
                }
                ul {
                    list-style: none;
                    border: 1px solid black;
                    width: 20%;
                }
            } //end of nav_menu tag
        } //end of site-nav tag
    } //end of header_wrapper tag
} //end of site_header tag//
ul.content {
    display: none;
}
}














